.bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .bookings__customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20em;
    padding: 2em 3em;
    padding-left: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .name {
      font-weight: bold;
    }

    .img {
      width: 5em;
      height: 5em;
      border-radius: 5em;
      object-fit: cover;
      margin-right: 1em;
    }
  }
}
