.trip-info {
    margin: 1rem 0;

    .trip-info__date-time {
        color: gray;
        margin-bottom: 3rem;
    }

    .trip-info__main {
        font-size: large;
        display: flex;
        justify-content: space-between;

        .diver-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .diver-info__name {
                font-weight: bold;
            }

            .diver-info__img {
                width: 5em;
                height: 5em;
                border-radius: 5em;
                object-fit: cover;
                margin-right: 1em;
            }
        }

        .route {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                padding-right: 1em;
            }
        }
    }
}
